.divcolor1{
    background-color: green;
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}
.divcolor2{
    background-color: red;
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}
.divcolor3{
    background-color: orange;
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}