.probstyle1{
    background-color: blue;
    height: 100px;
    width: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.probstyle2{
    background-color: rgb(168, 11, 11);
    height: 100px;
    width: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.probstyle3{
    background-color: rgba(187, 255, 0, 0.767);
    height: 100px;
    width: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
}