.divcolor{
    background-color: aqua;
    height: 150px;
    width: 150px;
}
.divcolor1{
    background-color: darkgoldenrod;
    height: 150px;
    width: 150px;
}
.divcolor2{
    background-color: darkred;
    height: 150px;
    width: 150px;
}