.div{
    width: 900px;
}

.white{
    background-color: white;
    height: 100px;
    width: 100px;
    display: inline-table;
}
.black{
    background-color: black;
    height: 100px;
    width: 100px;
    display: inline-table;
}