

.black{
    font-size: 2px;
    background-color: black;
    width: 100px;
    height: 100px;
    text-align: 100px;
    vertical-align:100px;

}

.white{
    font-size: 2px;
    background-color:white;
    width: 100px;
    height: 100px;
    text-align:100px ;
    vertical-align:100px ;
}



