.div{
    width: 650px;
}
.style1
{background-color: rgb(166, 24, 223);
height: 200px;
width: 200px;
display: inline-table;
}

.style2
{ background-color: rgb(11, 235, 41);
height: 200px;
width: 200px;
display: inline-table;
}

.style3
{background-color: rgb(34, 22, 201);
height: 200px;
width: 200px;
display: inline-table;
}

.style4
{background-color: rgb(201, 22, 126);
height: 200px;
width: 302px;
display: inline-table;
}

.style5
{background-color: rgb(22, 201, 31);
height: 200px;
width: 302px;
display: inline-table;
}

.style6
{background-color: rgb(238, 18, 190);
height: 200px;
width: 149px;
display: inline-table;
}

.style7
{background-color: rgb(22, 105, 201);
height: 200px;
width: 149px;
display: inline-table;
}

.style8
{background-color: rgb(144, 22, 201);
height: 200px;
width: 149px;
display: inline-table;
}

.style9
{background-color: rgb(245, 19, 87);
height: 200px;
width: 149px;
display: inline-table;
}

.style10
{background-color: rgb(67, 121, 236);
height: 200px;
width: 200px;
display: inline-table;
}

.style11
{background-color: rgb(97, 230, 201);
height: 200px;
width: 200px;
display: inline-table;
}

.style12
{background-color: rgb(200, 94, 233);
height: 200px;
width: 200px;
display: inline-table;
}

.style13
{background-color: rgb(142, 114, 218);
height: 200px;
width: 149px;
display: inline-table;
}

.style14
{background-color: rgb(231, 108, 139);
height: 200px;
width: 149px;
display: inline-table;
}

.style15
{background-color: rgb(153, 108, 212);
height: 200px;
width: 149px;
display: inline-table;
}

.style16
{background-color: rgb(159, 61, 179);
height: 200px;
width: 149px;
display: inline-table;
}
