*
{
    margin: 0;
    padding: 0;
}

.body
{
    font-family: sans-serif;
}

{
    position:sticky
    top:0;
    z-index: 10;
}

.navbar
{
   background-image: linear-gradient(to right, #e5e8e9);
   padding: 0 ! important;
}
.navbar-brand img
{
   height: 80px; 
   padding-left: 40px;
}
.navbar-nav li
{
    padding: 0 40px;
}

.img
{
    padding-left: 0;
    float: center;
    height: 600;
    width: 200;
}

.navbar-nav li a
{
    color: #0e0d0d ! important;
    font-weight: 600;
    text-align: center;
    
}

