.nicola.nicola.fontsize{
    font-size: 50px;
    font-weight: 500px;
}
.imagewidth{
    width:webkit-fill available;
}
.hellofontsize{
    font-size: 70px;
    font-weight: bold;
}
.fontsizepbit{
    font-size:40px;
}
.color1{
    height:120px;
    width: 80px;
    color: rgb(90, 238, 243);
}
.color2{
    height:120px;
    width: 80px;
    background-color: rgb(136, 146, 233);
}
.color3{
    height:100px;
    width: 80px;
    background-color: rgb(159, 89, 224);
}