.divcolor1{
    background-color: chartreuse;
    height: 100px;
    width: 100px;
    margin-bottom: 100;
}
.divcolor2{
    background-color: blue;
    height: 100px;
    width: 100px;
    margin-left: 100px;
}
.divcolor3{
    background-color: purple;
    height: 100px;
    width: 100px;
    margin-left: 200px;
}