.block1{
    background-color: rgb(9, 9, 10);
    height: 100px;
    width: 100px;
    display: inline-table;

}
.block2{
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 100px;
    margin-left: 0px;
    display: inline-table;
   

}
.block3{
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 100px;
    margin-right: 0px;
    display: inline-table; 
    
}
.block4{
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 100px;
    display: inline-table;
}
.block5{
    background-color: rgb(5, 4, 5);
    height: 100px;
    width: 100px;
    display: inline-table;
}
.block6{
    background-color: rgb(247, 247, 247);
    height: 100px;
    width: 100px;
    display: inline-table;
}
.block7{
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 100px;
    display: inline-table;
}
.block8{
    background-color: rgb(255, 247, 252);
    height: 100px;
    width: 100px;
    display: inline-table;
}
.block9{
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 100px;
    display: inline-table;
}
.block10{
    background-color: rgb(255, 245, 255);
    height: 100px;
    width: 100px;
    display: inline-table;
}
.block11{
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 100px;
     display: inline-table; 
}
.block12{
    background-color: rgb(255, 248, 248);
    height: 100px;
    width: 100px;
    display: inline-table;
}
.block13{
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 100px;
    display: inline-table;
}
.block14{
    background-color: rgb(248, 248, 255);
    height: 100px;
    width: 100px;
    display: inline-table;

}
.block15{
    background-color: rgb(3, 3, 3);
    height: 100px;
    width: 100px;
    margin-left: 0px;
    display: inline-table;
   

}
.block15{
    background-color: rgb(249, 255, 250);
    height: 100px;
    width: 100px;
    margin-right: 0px;
    display: inline-table; 
    
}
.block16{
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 100px;
    display: inline-table;
}
.block17{
    background-color: rgb(247, 239, 255);
    height: 100px;
    width: 100px;
    display: inline-table;
}
.block18{
    background-color: rgb(3, 3, 3);
    height: 100px;
    width: 100px;
    display: inline-table;
}
.block19{
    background-color: rgb(248, 248, 248);
    height: 100px;
    width: 100px;
    display: inline-table;
}
.block19{
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 100px;
    display: inline-table;
}
.block20{
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 100px;
    display: inline-table;
}
.block21{
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 100px;
    display: inline-table;
}
.block22{
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 100px;
     display: inline-table; 
}
.block23{
    background-color: rgb(14, 14, 14);
    height: 100px;
    width: 100px;
    display: inline-table;
}
.block24{
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 100px;
    display: inline-table;
}
.block25{
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 100px;
    display: inline-table;
}
